In [1]:
from sklearn import tree
import pandas as pd

In [2]:
df = pd.read_csv('nba_df.csv')
df

,year,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,All_Star
0,2015,Jarnell Stokes,C,22,MEM,2,0,4,0,0,...,1,1,2,0,0,0,0,0,0,0
1,2015,Jordan McRae,PG,24,TOT,22,1,195,34,78,...,4,16,20,25,3,1,15,17,99,0
2,2015,Mario Chalmers,PG,29,MIA,6,0,120,10,32,...,1,13,14,19,8,1,9,16,33,0
3,2015,Marcus Morris,SF,26,DET,80,80,2856,410,945,...,91,313,404,201,67,23,140,170,1131,0
4,2015,Draymond Green,PF,25,GSW,81,81,2808,401,819,...,134,635,769,598,119,113,259,240,1131,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3164,2019,Alec Burks,SG,28,PHI,11,0,222,39,100,...,6,30,36,20,8,0,9,13,118,0
3165,2019,Rudy Gay,PF,33,SAS,60,5,1287,222,502,...,56,266,322,101,26,28,78,89,601,0
3166,2019,Jae Crowder,SF,29,MIA,13,1,373,50,114,...,8,68,76,26,20,7,8,41,155,0
3167,2019,Matt Mooney,SG,22,CLE,4,0,19,1,4,...,0,3,3,1,2,1,0,1,2,0
3168,2019,Dante Exum,SG,24,CLE,24,1,402,46,96,...,9,46,55,33,12,6,21,30,135,0

In [3]:
grouped = df.groupby('Pos')

In [4]:
c_df = grouped.get_group('C')

c_df

,year,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,All_Star
0,2015,Jarnell Stokes,C,22,MEM,2,0,4,0,0,...,1,1,2,0,0,0,0,0,0,0
5,2015,DeJuan Blair,C,26,WAS,29,0,218,28,68,...,20,37,57,11,8,2,15,53,61,0
10,2015,DeMarcus Cousins,C,25,SAC,65,65,2246,601,1332,...,158,589,747,214,101,92,249,236,1748,1
12,2015,J.J. Hickson,C,27,WAS,15,0,131,25,46,...,17,28,45,7,5,2,9,12,69,0
25,2015,Ryan Hollins,C,31,WAS,5,3,48,4,7,...,7,4,11,0,0,1,3,4,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,2019,Khem Birch,C,27,ORL,40,24,777,56,115,...,70,110,180,35,16,21,23,73,153,0
3145,2019,Thomas Bryant,C,22,WAS,38,28,901,184,307,...,75,185,260,71,14,33,48,85,460,0
3149,2019,Noah Vonleh,C,24,MIN,29,1,347,47,86,...,34,82,116,26,11,6,19,36,119,0
3153,2019,Larry Nance Jr.,C,27,CLE,56,10,1472,229,431,...,106,303,409,123,56,22,60,91,564,0
3163,2019,Dwight Howard,C,34,LAL,62,2,1193,188,257,...,156,301,457,42,27,76,73,200,468,0

In [5]:
target = df["All_Star"]
target_names = ["All Star", "Loser"]

data = df.drop(["All_Star", 'Player', 'Pos', 'Age', 'Tm' ], axis=1)
data

,year,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2015,2,0,4,0,0,0.000,0,0,0.000,...,0.000,1,1,2,0,0,0,0,0,0
1,2015,22,1,195,34,78,0.436,10,22,0.455,...,0.750,4,16,20,25,3,1,15,17,99
2,2015,6,0,120,10,32,0.313,1,11,0.091,...,0.923,1,13,14,19,8,1,9,16,33
3,2015,80,80,2856,410,945,0.434,108,298,0.362,...,0.749,91,313,404,201,67,23,140,170,1131
4,2015,81,81,2808,401,819,0.490,100,258,0.388,...,0.696,134,635,769,598,119,113,259,240,1131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3164,2019,11,0,222,39,100,0.390,16,49,0.327,...,0.889,6,30,36,20,8,0,9,13,118
3165,2019,60,5,1287,222,502,0.442,58,185,0.314,...,0.876,56,266,322,101,26,28,78,89,601
3166,2019,13,1,373,50,114,0.439,35,89,0.393,...,0.769,8,68,76,26,20,7,8,41,155
3167,2019,4,0,19,1,4,0.250,0,2,0.000,...,0.000,0,3,3,1,2,1,0,1,2
3168,2019,24,1,402,46,96,0.479,13,37,0.351,...,0.732,9,46,55,33,12,6,21,30,135

In [6]:
feature_names = data.columns  
#feature_names
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=43)

In [7]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=250)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.978562421185372

In [8]:
c_features = sorted(zip(rf.feature_importances_, feature_names), reverse=True)
c_features

[(0.12386674565210344, 'FT'),
 (0.11117535007950163, 'PTS'),
 (0.10199692957756352, 'FTA'),
 (0.08775584926494696, 'FG'),
 (0.05635201658014583, 'FGA'),
 (0.043555055439086894, '2P'),
 (0.0431657288381576, 'AST'),
 (0.03777816211967739, 'G'),
 (0.03688474592070346, 'DRB'),
 (0.03647869005028732, 'TOV'),
 (0.03202390992440992, '2PA'),
 (0.03108811874743098, 'MP'),
 (0.025004160252003353, 'TRB'),
 (0.022528256101879064, '3PA'),
 (0.022248872652422286, '3P'),
 (0.02106204632555048, 'PF'),
 (0.019601632233358174, 'eFG%'),
 (0.01899678113876006, '2P%'),
 (0.01832325544114949, 'STL'),
 (0.01817536430322361, 'ORB'),
 (0.017814561361477365, 'GS'),
 (0.017471478516866302, 'FG%'),
 (0.016728619689838416, 'BLK'),
 (0.01581820054096297, '3P%'),
 (0.013894472282427931, 'FT%'),
 (0.010210996966065715, 'year')]