In [1]:
from sklearn import tree
import pandas as pd

In [2]:
df = pd.read_csv('nba_df.csv')
df

,year,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,All_Star
0,2015,Jarnell Stokes,C,22,MEM,2,0,4,0,0,...,1,1,2,0,0,0,0,0,0,0
1,2015,Jordan McRae,PG,24,TOT,22,1,195,34,78,...,4,16,20,25,3,1,15,17,99,0
2,2015,Mario Chalmers,PG,29,MIA,6,0,120,10,32,...,1,13,14,19,8,1,9,16,33,0
3,2015,Marcus Morris,SF,26,DET,80,80,2856,410,945,...,91,313,404,201,67,23,140,170,1131,0
4,2015,Draymond Green,PF,25,GSW,81,81,2808,401,819,...,134,635,769,598,119,113,259,240,1131,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3164,2019,Alec Burks,SG,28,PHI,11,0,222,39,100,...,6,30,36,20,8,0,9,13,118,0
3165,2019,Rudy Gay,PF,33,SAS,60,5,1287,222,502,...,56,266,322,101,26,28,78,89,601,0
3166,2019,Jae Crowder,SF,29,MIA,13,1,373,50,114,...,8,68,76,26,20,7,8,41,155,0
3167,2019,Matt Mooney,SG,22,CLE,4,0,19,1,4,...,0,3,3,1,2,1,0,1,2,0
3168,2019,Dante Exum,SG,24,CLE,24,1,402,46,96,...,9,46,55,33,12,6,21,30,135,0

In [3]:
grouped = df.groupby('Pos')

In [4]:
sf_df = grouped.get_group('SF')

sf_df

,year,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,All_Star
3,2015,Marcus Morris,SF,26,DET,80,80,2856,410,945,...,91,313,404,201,67,23,140,170,1131,0
20,2015,Caron Butler,SF,35,SAC,17,1,176,25,59,...,5,17,22,10,9,1,3,19,63,0
21,2015,Jarell Eddie,SF,24,WAS,26,0,147,20,65,...,2,21,23,5,5,1,1,5,63,0
24,2015,Mike Miller,SF,35,DEN,47,2,373,22,62,...,6,47,53,40,13,4,17,53,63,0
26,2015,Cleanthony Early,SF,24,NYK,17,2,154,12,40,...,4,22,26,6,2,3,9,16,31,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3129,2019,Mikal Bridges,SF,23,PHO,65,24,1772,210,407,...,59,200,259,115,93,39,65,142,565,0
3134,2019,Zylan Cheatham,SF,24,NOP,3,0,31,2,5,...,1,5,6,2,0,1,3,5,4,0
3136,2019,Michael Kidd-Gilchrist,SF,26,DAL,9,0,71,1,7,...,3,17,20,3,2,2,6,14,4,0
3148,2019,De'Andre Hunter,SF,22,ATL,63,62,2018,280,683,...,44,242,286,112,44,18,103,182,778,0
3166,2019,Jae Crowder,SF,29,MIA,13,1,373,50,114,...,8,68,76,26,20,7,8,41,155,0

In [5]:
target = df["All_Star"]
target_names = ["All Star", "Loser"]

data = df.drop(["All_Star", 'Player', 'Pos', 'Age', 'Tm' ], axis=1)
data

,year,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2015,2,0,4,0,0,0.000,0,0,0.000,...,0.000,1,1,2,0,0,0,0,0,0
1,2015,22,1,195,34,78,0.436,10,22,0.455,...,0.750,4,16,20,25,3,1,15,17,99
2,2015,6,0,120,10,32,0.313,1,11,0.091,...,0.923,1,13,14,19,8,1,9,16,33
3,2015,80,80,2856,410,945,0.434,108,298,0.362,...,0.749,91,313,404,201,67,23,140,170,1131
4,2015,81,81,2808,401,819,0.490,100,258,0.388,...,0.696,134,635,769,598,119,113,259,240,1131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3164,2019,11,0,222,39,100,0.390,16,49,0.327,...,0.889,6,30,36,20,8,0,9,13,118
3165,2019,60,5,1287,222,502,0.442,58,185,0.314,...,0.876,56,266,322,101,26,28,78,89,601
3166,2019,13,1,373,50,114,0.439,35,89,0.393,...,0.769,8,68,76,26,20,7,8,41,155
3167,2019,4,0,19,1,4,0.250,0,2,0.000,...,0.000,0,3,3,1,2,1,0,1,2
3168,2019,24,1,402,46,96,0.479,13,37,0.351,...,0.732,9,46,55,33,12,6,21,30,135

In [6]:
feature_names = data.columns  
#feature_names
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=43)

In [7]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=250)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.978562421185372

In [8]:
sf_features = sorted(zip(rf.feature_importances_, feature_names), reverse=True)
sf_features

[(0.12091565371872033, 'FT'),
 (0.10296107973910201, 'PTS'),
 (0.09935446589248512, 'FG'),
 (0.08203861500112673, 'FTA'),
 (0.06846501665756961, 'FGA'),
 (0.047595435300553275, '2P'),
 (0.04407273172583872, 'TOV'),
 (0.03995037573741611, 'AST'),
 (0.03717013798998351, 'G'),
 (0.03668336932804503, '2PA'),
 (0.03422583122393522, 'DRB'),
 (0.03267879145168063, 'MP'),
 (0.02604077670812256, 'TRB'),
 (0.023079958532391618, '3PA'),
 (0.020860329634739574, '3P'),
 (0.020284508934308155, 'GS'),
 (0.020237973267106985, 'STL'),
 (0.018791313637952455, 'eFG%'),
 (0.018653851977291892, 'PF'),
 (0.017981392998726486, '2P%'),
 (0.017337180575218866, 'ORB'),
 (0.015877906142713318, 'BLK'),
 (0.015375275952795333, '3P%'),
 (0.015050648346278403, 'FG%'),
 (0.014191049991628334, 'FT%'),
 (0.010126329534269743, 'year')]