In [2]:
from sklearn import tree
import pandas as pd

In [3]:
df = pd.read_csv('nba_df.csv')
df

,year,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,All_Star
0,2015,Jarnell Stokes,C,22,MEM,2,0,4,0,0,...,1,1,2,0,0,0,0,0,0,0
1,2015,Jordan McRae,PG,24,TOT,22,1,195,34,78,...,4,16,20,25,3,1,15,17,99,0
2,2015,Mario Chalmers,PG,29,MIA,6,0,120,10,32,...,1,13,14,19,8,1,9,16,33,0
3,2015,Marcus Morris,SF,26,DET,80,80,2856,410,945,...,91,313,404,201,67,23,140,170,1131,0
4,2015,Draymond Green,PF,25,GSW,81,81,2808,401,819,...,134,635,769,598,119,113,259,240,1131,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3164,2019,Alec Burks,SG,28,PHI,11,0,222,39,100,...,6,30,36,20,8,0,9,13,118,0
3165,2019,Rudy Gay,PF,33,SAS,60,5,1287,222,502,...,56,266,322,101,26,28,78,89,601,0
3166,2019,Jae Crowder,SF,29,MIA,13,1,373,50,114,...,8,68,76,26,20,7,8,41,155,0
3167,2019,Matt Mooney,SG,22,CLE,4,0,19,1,4,...,0,3,3,1,2,1,0,1,2,0
3168,2019,Dante Exum,SG,24,CLE,24,1,402,46,96,...,9,46,55,33,12,6,21,30,135,0

In [4]:
grouped = df.groupby('Pos')

In [5]:
pg_df = grouped.get_group('PG')

pg_df

,year,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,All_Star
1,2015,Jordan McRae,PG,24,TOT,22,1,195,34,78,...,4,16,20,25,3,1,15,17,99,0
2,2015,Mario Chalmers,PG,29,MIA,6,0,120,10,32,...,1,13,14,19,8,1,9,16,33,0
7,2015,Bryce Cotton,PG,23,TOT,8,0,39,4,10,...,0,0,0,3,3,0,5,2,8,0
8,2015,Briante Weber,PG,23,TOT,7,4,169,14,39,...,8,17,25,21,9,3,9,12,31,0
9,2015,Ty Lawson,PG,28,IND,13,1,235,28,67,...,6,25,31,57,10,1,13,16,64,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3150,2019,Allonzo Trier,PG,24,NYK,24,1,291,51,106,...,6,23,29,28,3,4,22,29,155,0
3151,2019,Shabazz Napier,PG,28,TOT,51,30,1234,170,413,...,25,121,146,253,66,9,111,93,527,0
3157,2019,De'Aaron Fox,PG,22,SAC,45,43,1426,329,692,...,30,151,181,304,64,23,141,129,920,0
3158,2019,Chasson Randle,PG,26,GSW,3,0,40,0,4,...,0,2,2,5,2,0,0,3,5,0
3160,2019,Jeremiah Martin,PG,23,BRK,3,0,16,1,5,...,0,2,2,2,1,1,0,0,2,0

In [6]:
target = df["All_Star"]
target_names = ["All Star", "Loser"]

In [7]:
data = df.drop(["All_Star", 'Player', 'Pos', 'Age', 'Tm' ], axis=1)
data

,year,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2015,2,0,4,0,0,0.000,0,0,0.000,...,0.000,1,1,2,0,0,0,0,0,0
1,2015,22,1,195,34,78,0.436,10,22,0.455,...,0.750,4,16,20,25,3,1,15,17,99
2,2015,6,0,120,10,32,0.313,1,11,0.091,...,0.923,1,13,14,19,8,1,9,16,33
3,2015,80,80,2856,410,945,0.434,108,298,0.362,...,0.749,91,313,404,201,67,23,140,170,1131
4,2015,81,81,2808,401,819,0.490,100,258,0.388,...,0.696,134,635,769,598,119,113,259,240,1131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3164,2019,11,0,222,39,100,0.390,16,49,0.327,...,0.889,6,30,36,20,8,0,9,13,118
3165,2019,60,5,1287,222,502,0.442,58,185,0.314,...,0.876,56,266,322,101,26,28,78,89,601
3166,2019,13,1,373,50,114,0.439,35,89,0.393,...,0.769,8,68,76,26,20,7,8,41,155
3167,2019,4,0,19,1,4,0.250,0,2,0.000,...,0.000,0,3,3,1,2,1,0,1,2
3168,2019,24,1,402,46,96,0.479,13,37,0.351,...,0.732,9,46,55,33,12,6,21,30,135

In [8]:
feature_names = data.columns  
#feature_names
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=43)

In [9]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.9646910466582598

In [10]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=250)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.9773013871374527

In [11]:
#pg specific all star criteria 
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.12975579957406788, 'FT'),
 (0.10871204989840573, 'PTS'),
 (0.0998047736473784, 'FTA'),
 (0.0889438049026405, 'FG'),
 (0.06351318681739729, 'FGA'),
 (0.03993233742249414, 'TOV'),
 (0.0396494381863657, '2PA'),
 (0.039531789823778994, 'G'),
 (0.038595198527655965, 'AST'),
 (0.038288407105637905, '2P'),
 (0.03224529775014391, 'DRB'),
 (0.029918702137629895, 'MP'),
 (0.02276338858915212, '3P'),
 (0.02256458812720627, 'STL'),
 (0.022499824421257815, 'TRB'),
 (0.02134397834514033, '3PA'),
 (0.01991700149509504, 'eFG%'),
 (0.019196912423251045, 'PF'),
 (0.01763857841052052, 'ORB'),
 (0.017189701032102305, '2P%'),
 (0.01709548849130773, 'BLK'),
 (0.015994747401599587, 'FT%'),
 (0.01594488173634278, 'GS'),
 (0.015583445728381237, '3P%'),
 (0.014622564596503638, 'FG%'),
 (0.008754113408543356, 'year')]

In [14]:
sg_df = grouped.get_group('SG')

sg_df

,year,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,All_Star
11,2015,C.J. Wilcox,SG,25,LAC,23,0,167,26,66,...,1,11,12,10,10,2,2,15,70,0
15,2015,Devyn Marble,SG,23,ORL,28,0,249,21,71,...,6,32,38,12,13,1,7,25,60,0
19,2015,Jimmer Fredette,SG,26,NYK,2,0,5,1,1,...,0,0,0,0,0,0,1,1,7,0
22,2015,Jordan Adams,SG,21,MEM,2,0,15,2,6,...,0,2,2,3,3,0,2,2,7,0
23,2015,Justin Holiday,SG,26,ATL,26,1,263,24,73,...,4,23,27,11,13,4,13,21,63,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3159,2019,Malik Newman,SG,22,CLE,1,0,4,0,2,...,0,0,0,0,0,0,1,0,2,0
3161,2019,Max Strus,SG,23,CHI,2,0,6,2,3,...,1,0,1,0,0,0,0,1,5,0
3164,2019,Alec Burks,SG,28,PHI,11,0,222,39,100,...,6,30,36,20,8,0,9,13,118,0
3167,2019,Matt Mooney,SG,22,CLE,4,0,19,1,4,...,0,3,3,1,2,1,0,1,2,0
3168,2019,Dante Exum,SG,24,CLE,24,1,402,46,96,...,9,46,55,33,12,6,21,30,135,0