In [1]:
from sklearn import tree
import pandas as pd

In [2]:
df = pd.read_csv('nba_df.csv')
df

,year,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,All_Star
0,2015,Jarnell Stokes,C,22,MEM,2,0,4,0,0,...,1,1,2,0,0,0,0,0,0,0
1,2015,Jordan McRae,PG,24,TOT,22,1,195,34,78,...,4,16,20,25,3,1,15,17,99,0
2,2015,Mario Chalmers,PG,29,MIA,6,0,120,10,32,...,1,13,14,19,8,1,9,16,33,0
3,2015,Marcus Morris,SF,26,DET,80,80,2856,410,945,...,91,313,404,201,67,23,140,170,1131,0
4,2015,Draymond Green,PF,25,GSW,81,81,2808,401,819,...,134,635,769,598,119,113,259,240,1131,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3164,2019,Alec Burks,SG,28,PHI,11,0,222,39,100,...,6,30,36,20,8,0,9,13,118,0
3165,2019,Rudy Gay,PF,33,SAS,60,5,1287,222,502,...,56,266,322,101,26,28,78,89,601,0
3166,2019,Jae Crowder,SF,29,MIA,13,1,373,50,114,...,8,68,76,26,20,7,8,41,155,0
3167,2019,Matt Mooney,SG,22,CLE,4,0,19,1,4,...,0,3,3,1,2,1,0,1,2,0
3168,2019,Dante Exum,SG,24,CLE,24,1,402,46,96,...,9,46,55,33,12,6,21,30,135,0

In [3]:
grouped = df.groupby('Pos')

In [4]:
pf_df = grouped.get_group('PF')

pf_df

,year,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,All_Star
4,2015,Draymond Green,PF,25,GSW,81,81,2808,401,819,...,134,635,769,598,119,113,259,240,1131,1
6,2015,Christian Wood,PF,20,PHI,17,0,145,22,53,...,13,25,38,3,5,7,2,11,61,0
18,2015,Ryan Anderson,PF,27,NOP,66,7,2008,397,929,...,131,265,396,73,38,25,90,109,1124,0
29,2015,Eric Moreland,PF,24,SAC,8,0,48,3,6,...,3,8,11,1,0,4,3,4,8,0
33,2015,Tobias Harris,PF,23,TOT,76,74,2513,417,889,...,96,414,510,169,65,40,108,153,1116,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3146,2019,John Collins,PF,22,ATL,41,41,1363,353,605,...,116,300,416,60,31,66,75,138,885,0
3147,2019,Udonis Haslem,PF,39,MIA,3,0,21,1,6,...,0,8,8,1,0,0,0,3,5,0
3154,2019,Paul Millsap,PF,34,DEN,44,41,1075,188,387,...,87,173,260,70,38,28,61,127,529,0
3162,2019,Caleb Swanigan,PF,22,SAC,7,0,23,2,4,...,2,5,7,2,1,2,6,8,5,0
3165,2019,Rudy Gay,PF,33,SAS,60,5,1287,222,502,...,56,266,322,101,26,28,78,89,601,0

In [5]:
target = df["All_Star"]
target_names = ["All Star", "Loser"]

data = df.drop(["All_Star", 'Player', 'Pos', 'Age', 'Tm' ], axis=1)
data

,year,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2015,2,0,4,0,0,0.000,0,0,0.000,...,0.000,1,1,2,0,0,0,0,0,0
1,2015,22,1,195,34,78,0.436,10,22,0.455,...,0.750,4,16,20,25,3,1,15,17,99
2,2015,6,0,120,10,32,0.313,1,11,0.091,...,0.923,1,13,14,19,8,1,9,16,33
3,2015,80,80,2856,410,945,0.434,108,298,0.362,...,0.749,91,313,404,201,67,23,140,170,1131
4,2015,81,81,2808,401,819,0.490,100,258,0.388,...,0.696,134,635,769,598,119,113,259,240,1131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3164,2019,11,0,222,39,100,0.390,16,49,0.327,...,0.889,6,30,36,20,8,0,9,13,118
3165,2019,60,5,1287,222,502,0.442,58,185,0.314,...,0.876,56,266,322,101,26,28,78,89,601
3166,2019,13,1,373,50,114,0.439,35,89,0.393,...,0.769,8,68,76,26,20,7,8,41,155
3167,2019,4,0,19,1,4,0.250,0,2,0.000,...,0.000,0,3,3,1,2,1,0,1,2
3168,2019,24,1,402,46,96,0.479,13,37,0.351,...,0.732,9,46,55,33,12,6,21,30,135

In [6]:
feature_names = data.columns  
#feature_names
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=43)

In [7]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=250)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.9773013871374527

In [8]:
pf_features = sorted(zip(rf.feature_importances_, feature_names), reverse=True)
pf_features

[(0.1250190549958316, 'FT'),
 (0.10951968442752513, 'PTS'),
 (0.09757528961956624, 'FTA'),
 (0.08802801670965345, 'FG'),
 (0.06295031746283312, 'FGA'),
 (0.04022148668589152, 'AST'),
 (0.039564454178664055, '2PA'),
 (0.03902530729419927, '2P'),
 (0.038512593292456355, 'TOV'),
 (0.035737006985041245, 'G'),
 (0.03333116105710212, 'DRB'),
 (0.03246448405739844, 'MP'),
 (0.026032747091947056, 'TRB'),
 (0.022357211887277097, '3P'),
 (0.022198343301183816, '3PA'),
 (0.02213146872539325, 'STL'),
 (0.02084763803363582, 'eFG%'),
 (0.02039819137097589, 'ORB'),
 (0.019271079919543962, 'PF'),
 (0.018293604200342786, '2P%'),
 (0.016492265791494962, 'FT%'),
 (0.01619350569330694, 'FG%'),
 (0.01574891697851511, '3P%'),
 (0.01554806403051604, 'GS'),
 (0.013775817611144525, 'BLK'),
 (0.008762288598560233, 'year')]

In [13]:
 pffeature_df = pd.DataFrame(list(pf_features))
pffeature_df

           0     1
0   0.125019    FT
1   0.109520   PTS
2   0.097575   FTA
3   0.088028    FG
4   0.062950   FGA
5   0.040221   AST
6   0.039564   2PA
7   0.039025    2P
8   0.038513   TOV
9   0.035737     G
10  0.033331   DRB
11  0.032464    MP
12  0.026033   TRB
13  0.022357    3P
14  0.022198   3PA
15  0.022131   STL
16  0.020848  eFG%
17  0.020398   ORB
18  0.019271    PF
19  0.018294   2P%
20  0.016492   FT%
21  0.016194   FG%
22  0.015749   3P%
23  0.015548    GS
24  0.013776   BLK
25  0.008762  year